:root {
    --color-body:   #ffffff;
    --color-text:   #000000;
    --color-primary:   #2c97a8;
    --color-secondary:   #fbf86b;
    --color-border:   #eeeeee;
    --color-error:   red;
    --color-success:   green;
    --color-muted:   #ddd; }
  
  :root {
    --box-shadow:   0 0 18px rgba(0,0,0,0.2);
    --border-color:   var(--color-border);
    --border-radius:   5px;
    --border-style:   solid;
    --border-width:   1px;
    --transition-delay:   0s;
    --transition-duration:   0.5s;
    --transition-duration--fast:   0.1s;
    --transition-duration--slow:   1s;
    --transition-timing-function:   ease-in-out; }
  
  :root {
    --font-family:   sans-serif;
    --font-size:   1.6rem;
    --font-weight:   normal;
    --line-height:   1.5; }
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth; }
  
  body {
    background-color: #FFE200;
    background-color: var(--color-body);
    color: #000000;
    color: var(--color-text);
    font-family: 'Montserrat'
  ,
  sans-serif;
    font-family: var(--font-family);
    font-weight: 400;
    font-weight: var(--font-weight);
    line-height: 1.9;
    line-height: var(--line-height); }
  
  *, *:before, *:after {
    box-sizing: border-box; }
  
  img {
    max-width: 100%;
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    vertical-align: middle;
    width: 100%; }
  
  [data-src] {
    background: #E30083;
    background: var(--color-primary);
    opacity: 0; }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat'
  ,
  sans-serif;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-size: var(--font-size);
    font-weight: 400;
    font-weight: var(--font-weight);
    margin: 0; }
  
  a {
    color: currentColor;
    text-decoration: none; }
  
  .u-visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px; }
  
  .u-scrollto {
    position: relative;
    top: -150px;
    height: 0; }
  
  .u-text-size--xxl {
    font-family: 'Montserrat'
  ,
  sans-serif;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-size: var(--font-size);
    font-weight: 400;
    font-weight: var(--font-weight);
    line-height: 1.9;
    line-height: var(--line-height);
    text-transform: var(--text-transform); }
  
  .u-text-size--xl {
    font-family: 'Montserrat'
  ,
  sans-serif;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-size: var(--font-size);
    font-weight: 400;
    font-weight: var(--font-weight);
    line-height: 1.9;
    line-height: var(--line-height);
    text-transform: var(--text-transform); }
  
  .u-text-size--l {
    font-family: 'Montserrat'
  ,
  sans-serif;
    font-family: var(--typography--l-font-family);
    font-size: 1.8rem;
    font-size: var(--typography--l-font-size);
    font-weight: 400;
    font-weight: var(--typography--l-font-weight);
    line-height: 1.9;
    line-height: var(--typography--l-line-height);
    text-transform: none;
    text-transform: var(--typography--l-text-transform); }
  
  .u-text-size--m {
    font-family: 'Montserrat'
  ,
  sans-serif;
    font-family: var(--typography--m-font-family);
    font-size: 1.6rem;
    font-size: var(--typography--m-font-size);
    font-weight: 400;
    font-weight: var(--typography--m-font-weight);
    line-height: 1.9;
    line-height: var(--typography--m-line-height);
    text-transform: none;
    text-transform: var(--typography--m-text-transform); }
  
  .u-text-size--s {
    font-family: 'Montserrat'
  ,
  sans-serif;
    font-family: var(--typography--s-font-family);
    font-size: 1.4rem;
    font-size: var(--typography--s-font-size);
    font-weight: 400;
    font-weight: var(--typography--s-font-weight);
    line-height: 1.9;
    line-height: var(--typography--s-line-height);
    text-transform: none;
    text-transform: var(--typography--s-text-transform); }
  
  .u-text-size--xs {
    font-family: 'Montserrat'
  ,
  sans-serif;
    font-family: var(--typography--xs-font-family);
    font-size: 1.2rem;
    font-size: var(--typography--xs-font-size);
    font-weight: 400;
    font-weight: var(--typography--xs-font-weight);
    line-height: 1.9;
    line-height: var(--typography--xs-line-height);
    text-transform: none;
    text-transform: var(--typography--xs-text-transform); }
  
  .u-text-align--center {
    text-align: center; }
  
  .u-text-align--left {
    text-align: left; }
  
  .u-text-aligh--right {
    text-align: right; }
  
  .u-text-transform--upper {
    text-transform: uppercase; }
  
  .u-text-transform--lower {
    text-transform: lowercase; }
  
  .c-btn {
    --button-background-color:   var(--color-primary);
    --button-border-color:   var(--color-border);
    --button-border-radius:   var(--border-radius);
    --button-border-style:   none;
    --button-border-width:   0;
    --button-color:   white;
    --button-font-family:   var(--font-family);
    --button-font-size:   var(--font-size);
    --button-font-weight:   var(--font-weight);
    --button-letter-spacing:   0;
    --button-line-height:   1;
    --button-text-transform:   none;
    --button-padding-bottom:   1em;
    --button-padding-left:   2em;
    --button-padding-right:   2em;
    --button-padding-top:   1em;
    --button-transition-delay:   var(--transition-delay);
    --button-transition-duration:   var(--transition-duration--fast);
    --button-transition-property:   all;
    --button-transition-timing-function:   var(--transition-timing-function);
    --button-background-color--hover:   var(--button-color);
    --button-border-color--hover:   var(--button-background-color);
    --button-border-style--hover:   var(--button-border-style);
    --button-border-width--hover:   var(--button-border-width);
    --button-color--hover:   var(--button-background-color);
    --button-background-color--focus:   var(--button-background-color--hover);
    --button-border-color--focus:   var(--button-border-color--hover);
    --button-border-style--focus:   var(--button-border-style--hover);
    --button-border-width--focus:   var(--button-border-width--hover);
    --button-color--focus:   var(--button-color--hover);
    --button-outline-color--focus:   var(--button-border-color--hover);
    --button-outline-style--focus:   var(--button-border-style--hover);
    --button-outline-width--focus:   var(--button-border-width--hover); }
  
  .c-btn {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: var(--button-background-color);
    border-color: var(--button-border-color);
    border-radius: var(--button-border-radius);
    border-style: var(--button-border-style);
    border-width: var(--button-border-width);
    color: var(--button-color);
    cursor: pointer;
    display: inline-block;
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);
    line-height: var(--button-line-height);
    padding-bottom: var(--button-padding-bottom);
    padding-left: var(--button-padding-left);
    padding-right: var(--button-padding-right);
    padding-top: var(--button-padding-top);
    text-transform: var(--button-text-transform);
    -webkit-transition-delay: var(--button-transition-delay);
            transition-delay: var(--button-transition-delay);
    -webkit-transition-duration: var(--button-transition-duration);
            transition-duration: var(--button-transition-duration);
    -webkit-transition-property: var(--button-transition-property);
    transition-property: var(--button-transition-property);
    -webkit-transition-timing-function: var(--button-transition-timing-function);
            transition-timing-function: var(--button-transition-timing-function);
    vertical-align: middle;
    white-space: nowrap; }
    .c-btn, .c-btn:hover, .c-btn:focus {
      text-decoration: none; }
    .c-btn:hover {
      background-color: var(--button-background-color--hover);
      border-color: var(--button-border-color--hover);
      border-style: var(--button-border-style--hover);
      border-width: var(--button-border-width--hover);
      color: var(--button-color--hover); }
    .c-btn:focus {
      background-color: var(--button-background-color--focus);
      border-color: var(--button-border-color--focus);
      border-style: var(--button-border-style--focus);
      border-width: var(--button-border-width--focus);
      color: var(--button-color--focus);
      outline-color: var(--button-outline-color--focus);
      outline-style: var(--button-outline-style--focus);
      outline-width: var(--button-outline-width--focus); }
  
  .c-btn--small {
    --button-font-size:   1.4rem; }
  
  .c-btn--large {
    --button-font-size:   3rem; }
  
  .c-btn--full {
    text-align: center;
    width: 100%; }
  
  .c-btn--border {
    --button-background-color:   none;
    --button-border-color:   var(--color-primary);
    --button-border-style:   solid;
    --button-border-width:   1px;
    --button-color:   var(--color-text);
    --button-border-color--hover:   var(--button-border-color);
    --button-border-style--hover:   var(--button-border-style);
    --button-border-width--hover:   var(--button-border-width); }
  
  .c-btn--disabled {
    --button-background-color:   var(--color-muted);
    --button-color:   var(--color-text);
    cursor: text; }
  
  .c-btn--error {
    --button-background-color:   var(--color-error); }
  
  .c-btn--secondary {
    --button-background-color:   var(--color-secondary);
    --button-color:   var(--color-text); }
  
  .c-btn--success {
    --button-background-color:   var(--color-success); }
  
  .c-btn--has-icon {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex; }
  
  .c-embed {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative; }
  
  .c-embed iframe,
  .c-embed object,
  .c-embed embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  
  .c-icons {
    --icons-margin-between: 1rem;
    --icon-box-background-color: var(--color-primary);
    --icon-box-border-color: var(--color-primary);
    --icon-box-border-radius: var(--border-radius);
    --icon-box-border-style: none;
    --icon-box-border-width: 0;
    --icon-box-height: 40px;
    --icon-box-transition-delay: var(--transition-delay);
    --icon-box-transition-duration: var(--transition-duration--fast);
    --icon-box-transition-property: all;
    --icon-box-transition-timing-function: var(--transition-timing-function);
    --icon-box-width: 40px;
    --icon-color: white;
    --icon-height: 20px;
    --icon-width: auto; }
  
  .c-icons {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex; }
  
  .c-icons--center {
    -webkit-box-pack: center;
            justify-content: center; }
  
  .c-icon-item + .c-icon-item {
    margin-left: var(--icons-margin-between); }
  
  .c-icon-box {
    -webkit-box-align: center;
            align-items: center;
    background-color: var(--icon-box-background-color);
    border-color: var(--icon-box-border-color);
    border-radius: var(--icon-box-border-radius);
    border-style: var(--icon-box-border-style);
    border-width: var(--icon-box-border-width);
    display: -webkit-box;
    display: flex;
    height: var(--icon-box-height);
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-transition-delay: var(--icon-box-transition-delay);
            transition-delay: var(--icon-box-transition-delay);
    -webkit-transition-duration: var(--icon-box-transition-duration);
            transition-duration: var(--icon-box-transition-duration);
    -webkit-transition-property: var(--icon-box-transition-property);
    transition-property: var(--icon-box-transition-property);
    -webkit-transition-timing-function: var(--icon-box-transition-timing-function);
            transition-timing-function: var(--icon-box-transition-timing-function);
    width: var(--icon-box-width); }
    .c-icon-box:focus, .c-icon-box:hover {
      background-color: var(--icon-color); }
      .c-icon-box:focus .c-icon, .c-icon-box:hover .c-icon {
        fill: var(--icon-box-background-color); }
  
  .c-icon {
    fill: var(--icon-color);
    height: var(--icon-height);
    -webkit-transition-delay: var(--icon-box-transition-delay);
            transition-delay: var(--icon-box-transition-delay);
    -webkit-transition-duration: var(--icon-box-transition-duration);
            transition-duration: var(--icon-box-transition-duration);
    -webkit-transition-property: var(--icon-box-transition-property);
    transition-property: var(--icon-box-transition-property);
    -webkit-transition-timing-function: var(--icon-box-transition-timing-function);
            transition-timing-function: var(--icon-box-transition-timing-function);
    width: var(--icon-width); }
  
  :root {
    --form-field-bg-color:  var(--color-body);
    --form-field-border-color: var(--border-color);
    --form-field-border-radius: var(--border-radius);
    --form-field-border-style: var(--border-style);
    --form-field-border-width:  var(--border-width);
    --form-field-color: var(--color-text);
    --form-field-font-family: var(--base-font-family);
    --form-field-font-size: 1.6rem;
    --form-field-font-weight: var(--base-font-weight);
    --form-field-height: 4rem;
    --form-field-padding-left-right: 1rem;
    --form-field-padding-top-bottom: 0;
    --form-field-placeholder-color: var(--color-border);
    --form-field-focus-border-color: var(--color-text);
    --form-field-focus-bg-color: var(--form-bg-color);
    --form-field-focus-color: var(--form-color); }
  
  .c-input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: white;
    background-color: var(--form-field-bg-color);
    border-color: #eeeeee;
    border-color: var(--form-field-border-color);
    border-radius: 3px;
    border-radius: var(--form-field-border-radius);
    border-style: none;
    border-style: var(--form-field-border-style);
    border-width: 0px;
    border-width: var(--form-field-border-width);
    color: #000000;
    color: var(--form-field-color);
    display: block;
    font-family: var(--base-font-family);
    font-family: var(--form-field-font-family);
    font-size: 1.4rem;
    font-size: var(--form-field-font-size);
    font-weight: var(--base-font-weight);
    font-weight: var(--form-field-font-weight);
    height: 3rem;
    height: var(--form-field-height);
    padding-left: 1rem;
    padding-left: var(--form-field-padding-left-right);
    padding-right: 1rem;
    padding-right: var(--form-field-padding-left-right);
    width: 100%; }
    .c-input::-webkit-input-placeholder {
      color: #eeeeee;
      color: var(--form-field-placeholder-color); }
    .c-input::-moz-placeholder {
      color: #eeeeee;
      color: var(--form-field-placeholder-color); }
    .c-input:-ms-input-placeholder {
      color: #eeeeee;
      color: var(--form-field-placeholder-color); }
    .c-input::-ms-input-placeholder {
      color: #eeeeee;
      color: var(--form-field-placeholder-color); }
    .c-input::placeholder {
      color: #eeeeee;
      color: var(--form-field-placeholder-color); }
    .c-input:focus {
      background-color: white;
      background-color: var(--form-field-focus-bg-color);
      border-color: #000000;
      border-color: var(--form-field-focus-border-color);
      color: var(--form-color);
      color: var(--form-field-focus-color);
      outline: none; }
  
  .c-label {
    --label-color: var(--color-text);
    --label-font-size: 1.2rem;
    --label-font-weight: var(--base-font-weight);
    --label-line-height: var(--base-line-height);
    --label-margin-bottom: .5rem;
    --label-text-transform: uppercase; }
  
  .c-label {
    color: var(--label-color);
    display: block;
    font-size: var(--label-font-size);
    font-weight: var(--label-font-weight);
    line-height: var(--label-line-height);
    margin-bottom: var(--label-margin-bottom);
    text-transform: var(--label-text-transform); }
  
  .c-menu-trigger {
    --menu-trigger-background-color: var(--color-primary);
    --menu-trigger-border-color: var(--color-primary);
    --menu-trigger-border-radius: var(--border-radius);
    --menu-trigger-border-style: var(--border-style);
    --menu-trigger-border-width: var(--border-width);
    --menu-trigger-padding-bottom: 1rem;
    --menu-trigger-padding-left: 1.5rem;
    --menu-trigger-padding-right: 1.5rem;
    --menu-trigger-padding-top: 1rem;
    --menu-trigger-burger-height: 4px;
    --menu-trigger-burger-width: 25px;
    --menu-trigger-burger-border-radius: 2px;
    --menu-trigger-burger-color: white;
    --menu-trigger-burger-spacer: 5px;
    --menu-trigger-burger-transition-duration: var(--transition-duration); }
  
  .c-menu-trigger {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: var(--menu-trigger-background-color);
    border-color: var(--menu-trigger-border-color);
    border-radius: var(--menu-trigger-border-radius);
    border-style: var(--menu-trigger-border-style);
    border-width: var(--menu-trigger-border-width);
    cursor: pointer;
    display: inline-block;
    padding-bottom: var(--menu-trigger-padding-bottom);
    padding-left: var(--menu-trigger-padding-left);
    padding-right: var(--menu-trigger-padding-right);
    padding-top: var(--menu-trigger-padding-top); }
    .c-menu-trigger span {
      position: relative;
      margin-top: calc(var(--menu-trigger-burger-height) + var(--menu-trigger-burger-spacer));
      margin-bottom: calc(var(--menu-trigger-burger-height) + var(--menu-trigger-burger-spacer));
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      .c-menu-trigger span, .c-menu-trigger span::before, .c-menu-trigger span::after {
        display: block;
        width: var(--menu-trigger-burger-width);
        height: var(--menu-trigger-burger-height);
        background-color: var(--menu-trigger-burger-color);
        border-radius: var(--menu-trigger-burger-border-radius);
        -webkit-transition-property: background-color, -webkit-transform;
        transition-property: background-color, -webkit-transform;
        transition-property: background-color, transform;
        transition-property: background-color, transform, -webkit-transform;
        -webkit-transition-duration: 0.1s;
                transition-duration: 0.1s; }
      .c-menu-trigger span::before, .c-menu-trigger span::after {
        position: absolute;
        content: ""; }
      .c-menu-trigger span::before {
        top: calc((var(--menu-trigger-burger-height) + var(--menu-trigger-burger-spacer)) * -1); }
      .c-menu-trigger span::after {
        top: calc(var(--menu-trigger-burger-height) + var(--menu-trigger-burger-spacer)); }
  
  body.nav-active .c-menu-trigger span, body.nav-active .c-menu-trigger span::before, body.nav-active .c-menu-trigger span::after {
    -webkit-transition-duration: var(--menu-trigger-burger-transition-duration);
            transition-duration: var(--menu-trigger-burger-transition-duration); }
  
  body.nav-active .c-menu-trigger span {
    background-color: transparent; }
  
  body.nav-active .c-menu-trigger span::before {
    -webkit-transform: translateY(calc(var(--menu-trigger-burger-height) + var(--menu-trigger-burger-spacer))) rotate(45deg);
            transform: translateY(calc(var(--menu-trigger-burger-height) + var(--menu-trigger-burger-spacer))) rotate(45deg); }
  
  body.nav-active .c-menu-trigger span::after {
    -webkit-transform: translateY(calc((var(--menu-trigger-burger-height) + var(--menu-trigger-burger-spacer)) * -1)) rotate(-45deg);
            transform: translateY(calc((var(--menu-trigger-burger-height) + var(--menu-trigger-burger-spacer)) * -1)) rotate(-45deg); }
  
  :root {
    --typography--xxl-font-family: var(--font-family);
    --typography--xxl-font-size: 3.2rem;
    --typography--xxl-font-weight: var(--font-weight);
    --typography--xxl-line-height: var(--line-height);
    --typography--xxl-text-transform: none;
    --typography--xl-font-family: var(--font-family);
    --typography--xl-font-size: 2.4rem;
    --typography--xl-font-weight: var(--font-weight);
    --typography--xl-line-height: var(--line-height);
    --typography--xl-text-transform: none;
    --typography--l-font-family: var(--font-family);
    --typography--l-font-size: 1.8rem;
    --typography--l-font-weight: var(--font-weight);
    --typography--l-line-height: var(--line-height);
    --typography--l-text-transform: none;
    --typography--m-font-family: var(--font-family);
    --typography--m-font-size: var(--font-size);
    --typography--m-font-weight: var(--font-weight);
    --typography--m-line-height: var(--line-height);
    --typography--m-text-transform: none;
    --typography--s-font-family: var(--font-family);
    --typography--s-font-size: 1.4rem;
    --typography--s-font-weight: var(--font-weight);
    --typography--s-line-height: var(--line-height);
    --typography--s-text-transform: none;
    --typography--xs-font-family: var(--font-family);
    --typography--xs-font-size: 1.2rem;
    --typography--xs-font-weight: var(--font-weight);
    --typography--xs-line-height: var(--line-height);
    --typography--xs-text-transform: none; }
  
  .c-text--xxl {
    --font-size: 3.2rem;
    font-family: 'Montserrat'
  ,
  sans-serif;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-size: var(--font-size);
    font-weight: 400;
    font-weight: var(--font-weight);
    line-height: 1.9;
    line-height: var(--line-height);
    text-transform: var(--text-transform); }
  
  .c-text--xl {
    --font-size: 2.4rem;
    font-family: 'Montserrat'
  ,
  sans-serif;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-size: var(--font-size);
    font-weight: 400;
    font-weight: var(--font-weight);
    line-height: 1.9;
    line-height: var(--line-height);
    text-transform: var(--text-transform); }
  
  .c-text--l {
    --font-size: 1.8rem;
    font-family: 'Montserrat'
  ,
  sans-serif;
    font-family: var(--typography--l-font-family);
    font-size: 1.8rem;
    font-size: var(--typography--l-font-size);
    font-weight: 400;
    font-weight: var(--typography--l-font-weight);
    line-height: 1.9;
    line-height: var(--typography--l-line-height);
    text-transform: none;
    text-transform: var(--typography--l-text-transform); }
  
  .c-text--m {
    font-family: 'Montserrat'
  ,
  sans-serif;
    font-family: var(--typography--m-font-family);
    font-size: 1.6rem;
    font-size: var(--typography--m-font-size);
    font-weight: 400;
    font-weight: var(--typography--m-font-weight);
    line-height: 1.9;
    line-height: var(--typography--m-line-height);
    text-transform: none;
    text-transform: var(--typography--m-text-transform); }
  
  .c-text--s {
    --font-size: 1.4rem;
    font-family: 'Montserrat'
  ,
  sans-serif;
    font-family: var(--typography--s-font-family);
    font-size: 1.4rem;
    font-size: var(--typography--s-font-size);
    font-weight: 400;
    font-weight: var(--typography--s-font-weight);
    line-height: 1.9;
    line-height: var(--typography--s-line-height);
    text-transform: none;
    text-transform: var(--typography--s-text-transform); }
  
  .c-text--xs {
    --font-size: 1.2rem;
    font-family: 'Montserrat'
  ,
  sans-serif;
    font-family: var(--typography--xs-font-family);
    font-size: 1.2rem;
    font-size: var(--typography--xs-font-size);
    font-weight: 400;
    font-weight: var(--typography--xs-font-weight);
    line-height: 1.9;
    line-height: var(--typography--xs-line-height);
    text-transform: none;
    text-transform: var(--typography--xs-text-transform); }
  
  .p-form-field + .p-form-field {
    margin-top: 2rem; }
  
  :root {
    --color-body:   #FFE200;
    --color-text:   #000000;
    --color-primary:   #E30083;
    --color-secondary:   #FFE200;
    --color-border:   #eeeeee;
    --color-error:   red;
    --color-success:   green;
    --color-muted:   #ddd; }
  
  :root {
    --box-shadow:   0 0 18px rgba(0,0,0,0.2);
    --border-color:   var(--color-border);
    --border-radius:   5px;
    --border-style:   solid;
    --border-width:   1px;
    --transition-delay:   0s;
    --transition-duration:   0.5s;
    --transition-duration--fast:   0.1s;
    --transition-duration--slow:   1s;
    --transition-timing-function:   ease-in-out; }
  
  :root {
    --font-family: 'Montserrat', sans-serif;
    --font-size: 1.6rem;
    --font-weight: 400;
    --font-weight--bold: 700;
    --line-height: 1.9;
    --line-height--s: 1.25;
    --font-size--xxl: 3rem;
    --font-size--xl: 2.4rem;
    --font-size--l: 2rem;
    --font-size--m: var(--font-size);
    --font-size--s: 1.3rem;
    --font-size--xs: 1.1rem; }
    @media screen and (min-width: 600px) {
      :root {
        --font-size: 1.9rem;
        --font-size--xxl: 4.4rem;
        --font-size--xl: 2.6rem;
        --font-size--l: 2.2em;
        --font-size--s: 1.5rem;
        --font-size--xs: 1.3rem; } }
    @media screen and (min-width: 768px) {
      :root {
        --font-size--xxl: 5rem;
        --font-size--xl: 3rem;
        --font-size--l: 2.6rem; } }
    @media screen and (min-width: 1000px) {
      :root {
        --font-size--xxl: 6.5rem;
        --font-size--xl: 4.4rem; } }
  
  .c-btn {
    --button-font-size:   2.3rem;
    --button-font-weight:   400;
    --button-letter-spacing:   1px;
    --button-text-transform:   uppercase;
    --button-padding-bottom:   1rem;
    --button-padding-left:   1.5rem;
    --button-padding-right:   1.5rem;
    --button-padding-top:   1rem;
    --button-border-style--hover:   none; }
  
  .c-btn--large {
    --button-font-size:   2.3rem;
    --button-padding-left:   2rem;
    --button-padding-right:   2rem; }
    @media screen and (min-width: 600px) {
      .c-btn--large {
        --button-font-size: 2.6rem;
        --button-padding-left:   2.5rem;
        --button-padding-right:   2.5rem; } }
  
  .c-btn--small {
    --button-border-radius:   3px;
    --button-font-size:   1.7rem; }
  
  :root {
    --form-field-bg-color:  white;
    --form-field-border-style: none;
    --form-field-border-width:  0px;
    --form-field-border-radius: 3px;
    --form-field-font-size: 1.4rem;
    --form-field-height: 3rem;
    --form-field-padding-left-right: 1rem;
    --form-field-focus-bg-color: white;
    --form-field-focus-color: var(--form-color); }
  
  .c-icons {
    --icon-box-border-radius: 3px;
    --icon-box-height: 30px;
    --icon-box-width: 30px;
    --icon-color: white;
    --icon-height: 20px;
    --icon-width: auto; }
  
  .c-label {
    --label-font-size: 1.4rem;
    --label-line-height: 1; }
  
  body {
    overflow-x: hidden; }
  
  .l-container {
    margin: 0 auto;
    max-width: 1660px;
    padding: 0 1rem;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .l-container {
        padding: 0 2rem; } }
  
  .l-container--small {
    max-width: 900px; }
  
  .l-container--first {
    margin-top: 115px; }
  
  @media screen and (min-width: 1300px) {
    .l-container--first {
      margin-top: 215px; }
    body.home .l-container--first {
      margin-top: 100px; }
    body.home.header-stuck .l-container--first {
      margin-top: 215px; } }
  
  .l-flex {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap; }
  
  .l-flex--halves {
    -webkit-box-pack: justify;
            justify-content: space-between; }
    .l-flex--halves .l-flex__inner {
      width: 100%; }
      .l-flex--halves .l-flex__inner + .l-flex__inner {
        margin-top: 50px; }
    @media screen and (min-width: 800px) {
      .l-flex--halves .l-flex__inner {
        width: calc(50% - 2rem); }
        .l-flex--halves .l-flex__inner + .l-flex__inner {
          margin-top: 0; } }
  
  .l-footer-grid {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 20px;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto 20px auto 20px auto 20px auto 20px auto;
    grid-template-rows: repeat(5, auto);
        grid-template-areas: "form" "nav" "social" "links" "credits";
    margin-bottom: 20px;
    margin-top: 60px; }
    @media screen and (min-width: 800px) {
      .l-footer-grid {
        grid-row-gap: 50px;
            grid-template-areas: "form nav nav social" "links links credits credits";
        -ms-grid-columns: 300px auto auto 200px;
        grid-template-columns: 300px auto auto 200px;
        -ms-grid-rows: auto 50px auto;
        grid-template-rows: auto auto; } }
    @media screen and (min-width: 1000px) {
      .l-footer-grid {
        -ms-grid-columns: 30% auto auto 25%;
        grid-template-columns: 30% auto auto 25%; } }
  
  .l-footer-grid__form {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: form; }
  
  .l-footer-grid__nav {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: nav; }
  
  .l-footer-grid__social {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: social; }
    @media screen and (min-width: 800px) {
      .l-footer-grid__social {
        -ms-grid-row-align: end;
            align-self: end;
        -ms-grid-column-align: end;
            justify-self: end; } }
  
  .l-footer-grid__second-nav {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-row-align: end;
        align-self: end;
    grid-area: links; }
  
  .l-footer-grid__credits {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: credits; }
  
  @media screen and (min-width: 800px) {
      .l-footer-grid__form {
      -ms-grid-row: 1;
      -ms-grid-column: 1; }
      .l-footer-grid__nav {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
      -ms-grid-column-span: 2; }
      .l-footer-grid__social {
      -ms-grid-row: 1;
      -ms-grid-column: 4; }
      .l-footer-grid__second-nav {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2; }
      .l-footer-grid__credits {
      -ms-grid-row: 3;
      -ms-grid-column: 3;
      -ms-grid-column-span: 2; } }
    @media screen and (min-width: 800px) {
      .l-footer-grid__credits {
        -ms-grid-column-align: end;
            justify-self: end; } }
  
  .l-grid {
    display: -ms-grid;
    display: grid; }
  
  .l-grid--quarters {
    grid-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
    @media screen and (min-width: 500px) {
      .l-grid--quarters {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr; } }
    @media screen and (min-width: 1000px) {
      .l-grid--quarters {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr; } }
  
  .l-grid--halves {
    grid-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
    @media screen and (min-width: 800px) {
      .l-grid--halves {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr; } }
  
  .l-section + .l-section {
    margin-top: 100px; }
  
  .l-section--border-top {
    border-top: solid 2px black;
    padding-top: 60px; }
  
  .l-sub-section + .l-sub-section {
    margin-top: 60px; }
  
  .c-card {
    --card-background-color:   none;
    --card-border-color:   none;
    --card-border-radius:   0;
    --card-border-style:   none;
    --card-border-width:   0;
    --card-padding-bottom:   0;
    --card-padding-left:   0;
    --card-padding-right:   0;
    --card-padding-top:   0;
    --card-content-padding-bottom: 0;
    --card-content-padding-left: 0;
    --card-content-padding-right: 0;
    --card-content-padding-top: 5px; }
  
  .c-card {
    background-color: var(--card-background-color);
    border-color: var(--card-border-color);
    border-radius: var(--card-border-radius);
    border-style: var(--card-border-style);
    border-width: var(--card-border-width);
    padding-bottom: var(--card-padding-bottom);
    padding-left: var(--card-padding-left);
    padding-right: var(--card-padding-right);
    padding-top: var(--card-padding-top); }
  
  .c-card__content {
    padding-bottom: var(--card-content-padding-bottom);
    padding-left: var(--card-content-padding-left);
    padding-right: var(--card-content-padding-right);
    padding-top: var(--card-content-padding-top); }
  
  .c-card__title {
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 1.25;
    text-transform: uppercase; }
  
  .c-card__meta {
    font-size: 1.3rem;
    text-transform: uppercase; }
  
  .c-image-grid {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 10px 1fr 10px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "large" "small-1" "small-2"; }
  
  @media screen and (min-width: 400px) {
    .c-image-grid {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
          grid-template-areas: "large large" "small-1 small-2"; } }
  
  @media screen and (min-width: 900px) {
    .c-image-grid {
      grid-column-gap: 1%;
      grid-row-gap: 2%;
      -ms-grid-rows: auto auto;
      grid-template-rows: auto auto; }
    .c-image-grid--lr {
      -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
          grid-template-areas: "large small-1" "large small-2"; }
    .c-image-grid--rl {
      -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
          grid-template-areas: "small-1 large" "small-2 large"; } }
  
  .c-image-grid__large {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row-align: stretch;
        align-self: stretch;
    grid-area: large; }
  
  .c-image-grid__small-first {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: small-1; }
  
  .c-image-grid__small-second {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: small-2; }
  
  @media screen and (min-width: 400px) {
    .c-image-grid__large {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2; }
    .c-image-grid__small-first {
      -ms-grid-row: 2;
      -ms-grid-column: 1; }
    .c-image-grid__small-second {
      -ms-grid-row: 2;
      -ms-grid-column: 2; } }
  
  @media screen and (min-width: 900px) {
    .c-image-grid--lr > .c-image-grid__large {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1; }
    .c-image-grid--rl > .c-image-grid__large {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1; }
    .c-image-grid--lr > .c-image-grid__small-first {
      -ms-grid-row: 1;
      -ms-grid-column: 2; }
    .c-image-grid--rl > .c-image-grid__small-first {
      -ms-grid-row: 1;
      -ms-grid-column: 1; }
    .c-image-grid--lr > .c-image-grid__small-second {
      -ms-grid-row: 2;
      -ms-grid-column: 2; }
    .c-image-grid--rl > .c-image-grid__small-second {
      -ms-grid-row: 2;
      -ms-grid-column: 1; } }
  
  /*!
   * baguetteBox.js
   * @author  feimosi
   * @version 1.11.0
   * @url https://github.com/feimosi/baguetteBox.js
   */
  #baguetteBox-overlay {
    display: none;
    opacity: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background-color: #222;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease; }
  
  #baguetteBox-overlay.visible {
    opacity: 1; }
  
  #baguetteBox-overlay .full-image {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center; }
  
  #baguetteBox-overlay .full-image figure {
    display: inline;
    margin: 0;
    height: 100%; }
  
  #baguetteBox-overlay .full-image img {
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }
  
  #baguetteBox-overlay .full-image figcaption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 1.8;
    white-space: normal;
    color: #ccc;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: sans-serif; }
  
  #baguetteBox-overlay .full-image:before {
    content: "";
    display: inline-block;
    height: 50%;
    width: 1px;
    margin-right: -1px; }
  
  #baguetteBox-slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    -webkit-transition: left .4s ease, -webkit-transform .4s ease;
    transition: left .4s ease, -webkit-transform .4s ease;
    transition: left .4s ease, transform .4s ease;
    transition: left .4s ease, transform .4s ease, -webkit-transform .4s ease; }
  
  #baguetteBox-slider.bounce-from-right {
    -webkit-animation: bounceFromRight .4s ease-out;
    animation: bounceFromRight .4s ease-out; }
  
  #baguetteBox-slider.bounce-from-left {
    -webkit-animation: bounceFromLeft .4s ease-out;
    animation: bounceFromLeft .4s ease-out; }
  
  @-webkit-keyframes bounceFromRight {
    0% {
      margin-left: 0; }
    50% {
      margin-left: -30px; }
    100% {
      margin-left: 0; } }
  
  @keyframes bounceFromRight {
    0% {
      margin-left: 0; }
    50% {
      margin-left: -30px; }
    100% {
      margin-left: 0; } }
  
  @-webkit-keyframes bounceFromLeft {
    0% {
      margin-left: 0; }
    50% {
      margin-left: 30px; }
    100% {
      margin-left: 0; } }
  
  @keyframes bounceFromLeft {
    0% {
      margin-left: 0; }
    50% {
      margin-left: 30px; }
    100% {
      margin-left: 0; } }
  
  .baguetteBox-button#next-button, .baguetteBox-button#previous-button {
    top: 50%;
    top: calc(50% - 30px);
    width: 44px;
    height: 60px; }
  
  .baguetteBox-button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    color: #E30083;
    color: var(--color-primary);
    cursor: pointer;
    font: 1.6em sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
    position: absolute;
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease; }
    .baguetteBox-button svg {
      stroke: #E30083;
      stroke: var(--color-primary); }
  
  .baguetteBox-button:focus, .baguetteBox-button:hover {
    background-color: white; }
  
  .baguetteBox-button#next-button {
    right: 2%; }
  
  .baguetteBox-button#previous-button {
    left: 2%; }
  
  .baguetteBox-button#close-button {
    top: 20px;
    right: 2%;
    right: calc(2% + 6px);
    width: 30px;
    height: 30px; }
  
  .baguetteBox-button svg {
    position: absolute;
    left: 0;
    top: 0; }
  
  
  .baguetteBox-spinner {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px; }
  
  .baguetteBox-double-bounce1,
  .baguetteBox-double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out; }
  
  .baguetteBox-double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
  
  @-webkit-keyframes bounce {
    0%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0); }
    50% {
      -webkit-transform: scale(1);
      transform: scale(1); } }
  
  @keyframes bounce {
    0%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0); }
    50% {
      -webkit-transform: scale(1);
      transform: scale(1); } }
  
  .c-menu-trigger {
    --menu-trigger-background-color: none;
    --menu-trigger-border-color: none;
    --menu-trigger-border-radius: 0;
    --menu-trigger-border-style: none;
    --menu-trigger-border-width: 0;
    --menu-trigger-padding-bottom: 0;
    --menu-trigger-padding-left: 0;
    --menu-trigger-padding-right: 0;
    --menu-trigger-padding-top: 0;
    --menu-trigger-burger-height: 4px;
    --menu-trigger-burger-width: 25px;
    --menu-trigger-burger-border-radius: 2px;
    --menu-trigger-burger-color: black;
    --menu-trigger-burger-spacer: 5px;
    --menu-trigger-burger-transition-duration: var(--transition-duration); }
  
  .c-menu-trigger {
    display: none;
    z-index: 99; }
    @media screen and (max-width: 1299px) {
      .c-menu-trigger {
        display: block; } }
  
  .c-nav {
    --nav-item-margin-between: 0;
    --nav-link-color: var(--color-text);
    --nav-link-font-size: 1.5rem;
    --nav-link-font-weight: 700;
    --nav-link-letter-spacing: 1px;
    --nav-link-padding-bottom: 0;
    --nav-link-padding-left: 10px;
    --nav-link-padding-right: 10px;
    --nav-link-padding-top: 0;
    --nav-link-text-transform: uppercase;
    --nav-link-transition-delay: 0;
    --nav-link-transition-duration: var(--transition-duration--fast);
    --nav-link-transition-property: all;
    --nav-link-transition-timing-function: var(--transition-timing-function);
    --nav-link-color--active: var(--color-primary);
    --nav-link-color--hover: var(--color-primary); }
  
  .c-nav {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex;
    line-height: 1; }
  
  .c-nav:not(.c-nav--stacked) .c-nav__item + .c-nav__item {
    margin-left: var(--nav-item-margin-between); }
  
  .c-nav--stacked {
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
    .c-nav--stacked .c-nav__item + .c-nav__item {
      margin-top: var(--nav-item-margin-between); }
  
  .c-nav__link {
    color: var(--nav-link-color);
    font-size: var(--nav-link-font-size);
    font-weight: var(--nav-link-font-weight);
    letter-spacing: var(--nav-link-letter-spacing);
    padding-bottom: var(--nav-link-padding-bottom);
    padding-left: var(--nav-link-padding-left);
    padding-right: var(--nav-link-padding-right);
    padding-top: var(--nav-link-padding-top);
    text-transform: var(--nav-link-text-transform);
    -webkit-transition-delay: var(--nav-link-transition-delay);
            transition-delay: var(--nav-link-transition-delay);
    -webkit-transition-duration: var(--nav-link-transition-duration);
            transition-duration: var(--nav-link-transition-duration);
    -webkit-transition-property: var(--nav-link-transition-property);
    transition-property: var(--nav-link-transition-property);
    -webkit-transition-timing-function: var(--nav-link-transition-timing-function);
            transition-timing-function: var(--nav-link-transition-timing-function); }
    .c-nav__link:hover {
      color: var(--nav-link-color--hover); }
  
  .c-nav__item.is-current .c-nav__link {
    color: var(--nav-link-color--active); }
  
  .c-rule {
    background: none;
    border-bottom: 0;
    border-top: solid 2px black;
    height: 0;
    margin-bottom: 50px;
    margin-top: 50px; }
  
  .p-section-header {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
    margin-bottom: 50px;
    position: relative; }
    .p-section-header:before {
      content: '';
      display: block;
      top: 55px;
      left: 0;
      width: 100%;
      position: absolute;
      background: black;
      height: 2px;
      z-index: -1; }
  
  .p-section-header__icon {
    background-color: #FFE200;
    background-color: var(--color-secondary);
    display: block;
    padding: 1rem;
    height: 110px;
    width: 110px; }
  
  .p-section-header__title {
    font-size: 3rem;
    font-size: var(--font-size--xxl);
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase; }
  
  .p-faq__title {
    font-size: 2rem;
    font-size: var(--font-size--l);
    font-weight: 700;
    font-weight: var(--font-weight--bold);
    line-height: 1.25;
    line-height: var(--line-height--s);
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase; }
  
  .p-faq__item {
    border-bottom: solid 2px black; }
  
  .p-faq__question {
    cursor: pointer;
    font-size: 20px;
    line-height: 1.25;
    line-height: var(--line-height--s);
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase; }
  
  .p-faq__answer {
    padding-bottom: 15px;
    text-align: center; }
  
  .p-filter {
    margin-bottom: 50px; }
    .p-filter .c-nav {
      flex-wrap: wrap;
      -webkit-box-pack: center;
              justify-content: center; }
      .p-filter .c-nav li {
        margin: .5rem; }
  
  .p-footer {
    --typography--l-font-size: 2rem;
    --typography--m-font-size: 1.4rem;
    --typography--s-font-size: 1.2rem; }
    .p-footer .c-nav {
      --nav-link-font-weight: 400; }
    @media screen and (max-width: 400px) {
      .p-footer {
        --typography--s-font-size: 1rem; } }
  
  .p-footer__main-nav .c-nav {
    --nav-link-font-size: var(--typography--m-font-size);
    --nav-link-letter-spacing: 0;
    --nav-link-padding-left: 0;
    --nav-link-padding-right: 0; }
  
  .p-footer__second-nav .c-nav,
  .p-footer__credits .c-nav {
    --nav-link-font-size: var(--typography--s-font-size);
    --nav-link-letter-spacing: 0;
    --nav-item-margin-between: 2rem;
    --nav-link-padding-left: 0;
    --nav-link-padding-right: 0; }
  
  .p-footer {
    position: relative; }
  
  .p-footer__credits .c-nav {
    --nav-link-text-transform: none; }
  
  .p-footer__main-nav .c-nav .c-nav__item {
    margin-bottom: 1.5rem; }
  
  @media screen and (min-width: 400px) {
    .p-footer__main-nav .c-nav {
      flex-wrap: wrap;
      height: 18em; } }
  
  .p-footer__form .c-input {
    width: 240px; }
  
  .p-footer__form .p-form-field + .p-form-field {
    margin-top: 1.5rem; }
  
  .p-footer__form__title {
    font-size: 1.8rem;
    font-size: var(--typography--l-font-size);
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase; }
  
  .p-footer__credits .c-nav {
    -webkit-box-align: end;
            align-items: flex-end; }
  
  .p-footer__credits .c-nav__link {
    -webkit-box-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: flex; }
    .p-footer__credits .c-nav__link svg {
      margin-left: 5px; }
    .p-footer__credits .c-nav__link.jon-simmons svg {
      height: 15px; }
    .p-footer__credits .c-nav__link.designition svg {
      height: 20px; }
  
  .p-footer:before,
  .p-footer:after {
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    bottom: 0px;
    position: absolute;
    width: 600px;
    height: 600px;
    z-index: -1; }
  
  .p-footer:before {
    background-image: url("/public/img/decoration/bottom-left.svg");
    left: -275px; }
    @media screen and (max-width: 767px) {
      .p-footer:before {
        display: none; } }
  
  .p-footer:after {
    background-image: url("/public/img/decoration/bottom-right.svg");
    right: -250px; }
  
  .p-full-img {
    margin-bottom: 50px; }
  
  .p-gallery-list-item {
    display: block;
    min-height: 150px;
    position: relative; }
    .p-gallery-list-item:after {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      z-index: 1;
      content: '';
      display: block;
      position: absolute;
      -webkit-transition: background-color 0.1s ease-in-out;
      transition: background-color 0.1s ease-in-out; }
    .p-gallery-list-item:hover:after {
      background-color: rgba(0, 0, 0, 0.5); }
  
  .p-gallery-list-item__title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    height: 40px;
    left: 0;
    line-height: 1;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 2; }
    @media screen and (min-width: 500px) {
      .p-gallery-list-item__title {
        font-size: 60px;
        height: 60px;
        margin-top: -30px; } }
    @media screen and (min-width: 768px) {
      .p-gallery-list-item__title {
        font-size: 100px;
        height: 100px;
        margin-top: -50px; } }
    @media screen and (min-width: 1200px) {
      .p-gallery-list-item__title {
        font-size: 150px;
        height: 150px;
        margin-top: -75px; } }
  
  .p-header {
    background-color: #FFE200;
    background-color: var(--color-secondary); }
  
  .header-stuck .p-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5; }
  
  .p-header__inner {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px; }
  
  .p-header__logo {
    width: 210px; }
  
  .p-header__nav {
    position: relative; }
  
  .p-header__second-nav {
    display: -webkit-box;
    display: flex; }
    @media screen and (min-width: 1300px) {
      .p-header__second-nav {
        bottom: -150px;
        right: 0;
        z-index: 1;
        position: absolute; } }
  
  .p-header__second-nav .c-icons {
    margin-right: 2rem; }
  
  .p-header__decorations {
    position: relative; }
  
  @media screen and (min-width: 768px) {
    .p-header__decorations:before,
    .p-header__decorations:after {
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      top: -100px;
      position: absolute;
      width: 600px;
      height: 600px;
      z-index: -1; }
    .p-header__decorations:before {
      background-image: url("/public/img/decoration/top-left.svg");
      left: -250px; }
    .p-header__decorations:after {
      background-image: url("/public/img/decoration/top-right.svg");
      right: -250px; } }
  
  @media screen and (max-width: 1299px) {
    .p-header__nav {
      -webkit-box-align: center;
              align-items: center;
      background-color: rgba(17, 3, 38, 0.9);
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      height: calc(100% - 115px);
      -webkit-box-pack: center;
              justify-content: center;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 50px 0;
      position: fixed;
      right: -100%;
      text-align: center;
      top: 115px;
      -webkit-transition-duration: 0.1s;
              transition-duration: 0.1s;
      -webkit-transition-property: right;
      transition-property: right;
      -webkit-transition-timing-function: ease-in-out;
              transition-timing-function: ease-in-out;
      width: 100%;
      z-index: 9; }
      .p-header__nav .c-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }
  
  @media screen and (max-width: 1299px) {
    .p-header__nav .c-nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      margin-bottom: 50px; }
    .p-header__nav .c-nav__item + .c-nav__item {
      margin-left: 0;
      margin-top: 20px; }
    .p-header__nav .c-nav__link {
      color: white;
      font-size: 2.4rem; } }
  
  @media screen and (max-width: 1299px) {
    .p-header__nav .p-header__second-nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; }
    .p-header__nav .c-icons {
      --icon-box-height: 40px;
      --icon-box-width: 40px;
      --icon-height: 24px;
      margin-bottom: 50px;
      margin-right: 0; }
    .p-header__nav .bh-icon__buy-tickets__sheep {
      fill: white; }
    .p-header__nav .bh-icon__buy-tickets__text {
      fill: white; }
      .p-header__nav .bh-icon__buy-tickets__text path {
        stroke: white; } }
  
  @media screen and (max-width: 1299px) {
    body.nav-active .p-header__nav {
      right: 0;
      -webkit-transition-duration: 0.5s;
      -webkit-transition-duration: var(--transition-duration);
              transition-duration: 0.5s;
              transition-duration: var(--transition-duration); } }
  
  .p-header__buy-tickets-mobile {
    display: none;
    font-size: 12px;
    margin-left: auto;
    margin-right: 20px; }
    @media screen and (min-width: 480px) and (max-width: 1299px) {
      .p-header__buy-tickets-mobile {
        display: block; } }
  
  .p-splash {
    background-color: #FFE200;
    background-color: var(--color-secondary);
    background-image: url("/public/img/bg-2023-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 30%; }
    @media screen and (min-width: 600px) {
      .p-splash {
        padding-top: 20%; } }
    @media screen and (min-width: 1000px) {
      .p-splash {
        padding-top: 12%; } }
  
  .p-splash__logo {
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px; }
    @media screen and (min-width: 600px) {
      .p-splash__logo {
        width: 500px; } }
    @media screen and (min-width: 1000px) {
      .p-splash__logo {
        margin-bottom: 90px;
        width: 696px; } }
  
  .p-splash__buttons {
    text-align: center; }
    .p-splash__buttons .c-btn {
      margin: 10px; }
    @media screen and (min-width: 600px) {
      .p-splash__buttons {
        -webkit-box-align: center;
                align-items: center;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center; } }
  
  .p-stage-in-list {
    --stage-background-alpha: 0;
    --stage-background: ;
    --stage-logo: ;
    background-image: var(--stage-logo), -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, var(--stage-background-alpha))), to(rgba(0, 0, 0, var(--stage-background-alpha)))), var(--stage-background);
    background-image: var(--stage-logo), linear-gradient(90deg, rgba(0, 0, 0, var(--stage-background-alpha)) 0%, rgba(0, 0, 0, var(--stage-background-alpha)) 100%), var(--stage-background);
    background-position: center, center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 50%, cover, cover;
    display: block;
    padding-bottom: 56.25%;
    -webkit-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out; }
    .p-stage-in-list:hover {
      --stage-background-alpha: .5; }
  
  .p-wysiwyg {
    font-size: 1.6rem;
    font-size: var(--font-size); }
    .p-wysiwyg * + * {
      margin-top: 20px; }
    .p-wysiwyg b, .p-wysiwyg strong {
      font-weight: bold; }
      .p-wysiwyg b a, .p-wysiwyg strong a {
        color: #000000;
        color: var(--color-text); }
    .p-wysiwyg a strong, .p-wysiwyg a b {
      color: #000000;
      color: var(--color-text); }
    .p-wysiwyg h2,
    .p-wysiwyg h3,
    .p-wysiwyg h4,
    .p-wysiwyg .u-heading--xxl,
    .p-wysiwyg .u-heading--xl,
    .p-wysiwyg .u-heading--l {
      font-weight: 700;
      font-weight: var(--font-weight--bold);
      line-height: 1.25;
      line-height: var(--line-height--s);
      text-transform: uppercase; }
      .p-wysiwyg h2 + *,
      .p-wysiwyg h3 + *,
      .p-wysiwyg h4 + *,
      .p-wysiwyg .u-heading--xxl + *,
      .p-wysiwyg .u-heading--xl + *,
      .p-wysiwyg .u-heading--l + * {
        margin-top: 30px; }
    .p-wysiwyg h2,
    .p-wysiwyg .u-heading--xxl {
      font-size: 3rem;
      font-size: var(--font-size--xxl); }
    .p-wysiwyg h3,
    .p-wysiwyg .u-heading--xl {
      font-size: 2.4rem;
      font-size: var(--font-size--xl); }
    .p-wysiwyg h4,
    .p-wysiwyg .u-heading--l {
      font-size: 2rem;
      font-size: var(--font-size--l); }
    .p-wysiwyg a {
      color: #E30083;
      color: var(--color-primary);
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
      .p-wysiwyg a:focus, .p-wysiwyg a:hover {
        color: #C1B68A; }
    .p-wysiwyg ul li + li, .p-wysiwyg ol li + li {
      margin-top: 10px; }
    .p-wysiwyg ul {
      list-style: disc; }
    .p-wysiwyg ol {
      list-style: decimal; }
    .p-wysiwyg p br {
      display: block;
      height: 0;
      margin-top: 0; }
    .p-wysiwyg address {
      line-height: 1.25; }